<div class="jumbotron">
<link rel="application" href="/stylesheets/application.css.scss"/>
  <h1>Welcome to the Worldmaker!</h1>
  <p>We're so happy to have you.</p>

  <h2> Login ||| Signup </h2>
</div>